head {
	text-align: center;
	font-family: monospace;
}

body {

	font-family: Monospace;
}

h1 {
	text-align: left;
	font-family: Monospace;
	color: #4AF626;
	font-size: 1vw;
}


/* TYPE */

p {
border-right: solid 3px rgba(0,255,0,.75);
white-space: nowrap;
overflow: hidden;    
font-family: 'Source Code Pro', monospace;  
font-size: 2vw;
color: #4AF626;
margin: 0 auto;
}

/* Animation */
p {
animation: animated-text 4s steps(29,end) 1s 1 normal both,
         animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
from{width: 0;}
to{width: 50%;}
}

/* cursor animations */

@keyframes animated-cursor{
from{border-right-color: rgba(0,255,0,.75);}
to{border-right-color: transparent;}
}


/* TYPE */


h2 {
	text-align: left;
	font-family: Monospace;
	color: #4AF626;
	font-size: 2vw;
}

a {
	text-align: left;
	font-family: Monospace;
	color: #4AF626;
}

img {
	width: 420px;
 	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
}

.links {
	text-align: center;
	font-family: Monospace;
	color: #4AF626;
	font-size: 2vw;

}
