html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(52,52,52,1) 50%, rgba(25,25,25,1) 100%); 
}

pre {
    text-align: center;
    white-space: pre;
}

h3 {
    text-align: center;
    font-size: 7vw;
}

h6 {
    text-align: center;
    font-size: 4vw;
    margin: 0 auto;
}

p {
    font-size: 4vw;
}

a {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    align: center;
    font-size: 6vw;
}

button {
    display:none
    /*
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
    width: auto;
    */
}

#h69 {
    color: #1a1a1a;
    text-align: center;
    font-size: 6vw;
    margin-top: 50vw;
    margin-bottom: 30vw;
}

section {
    margin-top: 30vw;
    margin-bottom: 100vw;
}

#home {
    display: flex;
    flex-direction: column;
    padding-top: 20vw;
    gap: 4vw;
}

#aboutme {
    display: flex;
    text-align: center;
    padding-bottom: 22vw;
    flex-direction: column;
}

#workcontact {
    display: flex;
    text-align: center;
    margin-bottom: 20vw;
    flex-direction: column;
}




/* BIG SCREEN */
@media screen and (min-width: 768px){

    pre {
        font-size: 0.7vw;
    }

    h3 {
        font-size: 4vw;
    }

    h6 {
        font-size: 2vw;
    }

    p {
        font-size: 3vw;
    }

    a {
        align: center;
        font-size: 3vw;
    }

    button {
        background-color: Transparent;
        border: none;
        cursor:pointer;
        outline:none;
        width: auto;
    }

    #h69 {
        font-size: 6vw;
        margin-top: 0.5vw;
        margin-bottom: 0vw;
    }

    section {
        margin-top: 10vw;
        margin-bottom: 20vw;
    }

    #home {
        padding-top: 0;
    }

    #aboutme {
        font-size: 1vw;
    }

    #workcontact {
        font-size: 1vw;
   }
}

