html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-color: #4AF626;
    color: #4AF626;
    background: rgb(25,25,25);
}

h1 {
    font-size: 8vw;
}

p {
    font-size: 2vw;
}

section {
    margin-top: 30vw;
    margin-bottom: 100vw;
}

a {
    font-size: 10vw;
    align-self: center;
}

#blog-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 0;
    padding-top: 3vw;
}

#blog-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 10vw;
    height: 10vw;
    padding: 3vw;
    cursor: pointer;
}


/* BIG SCREEN */
@media screen and (min-width: 768px){

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1vw;
    }

    p {
        font-size: 2vw;
    }

    section {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    a {
        font-size: 4vw;
        align-self: center;
    }

    #blog-landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-top: 0;
        padding-top: 3vw;
    }

    #blog-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 15vw;
        height: 10vw;
        padding: 2vw;
        cursor: pointer;
    }
}
