html {
    scroll-behavior: smooth;
    text-align: center;
    font-size: 4vw;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(52,52,52,1) 50%, rgba(25,25,25,1) 100%); 
}

section {
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    margin-bottom: 0;
}

p {
    font-size: 2vw;
}

a {
    color: #4AF626;
}

.home_logo {
    width: 30vw;
    height: auto;
    padding-top: 10vh;
}

.Aboutme {
    margin-top: 10vw;
}

.Work {
    height: 60vh;
    font-size: 3vw;
}
