html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-color: #4AF626;
    color: #4AF626;
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(52,52,52,1) 50%, rgba(25,25,25,1) 100%); 
}

h2 {
    font-size: 2vw;
}
h3 {
    font-size: 8vw;
}

h6 {
    font-size: 5vw;
    margin: 0 auto;
}

p {
    font-size: 6vw;
}

a {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    align: center;
    font-size: 2vw;
}

button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
    width: 1vw;
}

#h69 {
    color: #1a1a1a;
    text-align: center;
    font-size: 6vw;
    margin-top: 50vw;
    margin-bottom: 30vw;
}

section {
    margin-top: 30vw;
    margin-bottom: 100vw;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-top: 30vw;
}

img {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vw;
}

#aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vw;
}

a {
    font-size: 10vw;
    align-self: center;
}


/* BIG SCREEN */
@media screen and (min-width: 768px){

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 4vw;
    }

    h6 {
        font-size: 2vw;
    }

    p {
        font-size: 2vw;
    }

    #h69 {
        font-size: 6vw;
        margin-top: 0.5vw;
        margin-bottom: 0vw;
    }

    section {
        margin-top: 10vw;
        margin-bottom: 20vw;
    }

    #home {
        padding-top: 0.1vw;
    }

    img {
        width: 30vw;
    }

    #aboutme {
        align-self: center;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #work {
        display: flex;
        align-self: center;
        margin-bottom: 20vw;
        flex-direction: column;
    }

    a {
        font-size: 3vw;
        align-self: center;
    }
}

