html {
    scroll-behavior: smooth;
    text-align: center;
    font-size: 4vw;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(52,52,52,1) 50%, rgba(25,25,25,1) 100%); 
}

section {
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    margin-bottom: 0;
    font-size: 3vw;
}

p {
    font-size: 2vw;
}

a {
    color: #4AF626;
}

.home_logo {
    width: 30vw;
    height: auto;
    padding-top: 10vh;
}

.Aboutme {
    margin-top: 10vw;
}

.Work {
    height: 60vh;
    font-size: 3vw;
}

/* Content Styling */
.Content {
    margin-top: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.Content ul {
    font-size: 1.5vw;
    display: inline-block;
}

.Content h1 {
    font-size: 4vw;
}

.Content h2 {
    font-size: 3vw;
}

.Content h3 {
    font-size: 2vw;
}

.katex {
    padding-left: 0vw;
    padding-right: 0vw;
    size: 3vw;
}


p {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.5vw;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 10vw;
    }

    p {
        font-size: 5vw;
    }

    .home_logo {
        width: 70vw;
        height: auto;
        padding-top: 20vh;
    }

    .Work {
        height: 50vh;
        font-size: 6vw;
    }
}
