.Blog {
    margin-top: 15vh;
    height: 70vh;
}

.BlogGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.BlogCard {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    width: 15vw;
    height: 10vw;
    padding: 2vw;
    cursor: pointer;
}

img {
    width: 15vw;
    height: auto;
}

.Blog h1 {
    font-size: 5vw;
}

.Blog h2 {
    font-size: 3vw;
}

h3 {
    font-size: 1vw;
}

/* Mobile Styling */
@media only screen and (max-width: 600px) {
    .Blog {
        margin-top: 15vh;
    }
    .Blog h1 {
        font-size: 10vw;
    }

    .Blog h2 {
        margin-top: 20vh;
        font-size: 6vw;
    }
}
